*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(./index.jpg) no-repeat ;
    background-size:cover;

}

.ligin-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(15, 13, 13);
}
.ligin-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 23px;
    padding: 7px 13px;
    display: block;
    color: white;
    background: blue;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border: 1px solid transparent;
    border-radius: 6px;
background: white;
box-shadow: 3px 4px 30px 0 #608a62;


}
.textbox:focus{
    box-shadow: 3px 4px 20px 0 #258329;
    border: 1px solid #4caf50;

}

.textbox i{
    width: 25px;
    float: left;
    text-align: center;
    background:white;
    color: silver;

}
.textbox input{
    border: none;
    outline: none;
    background: none;

    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
 border: 1px solid transparent;
color: white;
    padding: 5px 0;
    cursor: pointer;
    background: blue;
    border-radius: 6px;
}